body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f5f5f5;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background-color: #eee;
    border-bottom: 1px solid #ddd;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover, nav a.active {
    color: #e63946;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #e63946;
    font-size: 24px;
    margin-bottom: 10px;
}

.highlight {
    color: #f4a261;
    font-weight: bold;
}

.gpa, .year, .cybersecurity {
    font-weight: bold;
    color: #333;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 50px;
    text-align: center;
}

.footer-content {
    max-width: 800px;
    margin: 0 auto;
}

.footer-content p {
    margin: 0;
    font-size: 14px;
}

.social-media {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-media a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
}

.social-media a:hover {
    color: #e63946;
}
.animated-text {
    animation: fadeIn 2s ease-in-out, moveUp 2s ease-in-out;
}
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 50px;
    background-color: #f2f2f2;
}
.hero-content {
    max-width: 600px;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.highlight {
    color: #e63946;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #e63946;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color:#e63946 ;
}
.education-section {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}
.education-section h2 {
    text-align: center;
    margin-bottom: 20px;
}
.education-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.education-item:last-child {
    margin-bottom: 0;
}
.education-item .year {
    font-weight: bold;
}
.education-item .title {
    font-size: 1.1em;
}
.education-item .description {
    color: #666;
}
